<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input
      [type]="showPassword ? 'text' : 'password'"
      [(ngModel)]="password">
    </ion-input>
    <ion-icon
      name="eye"
      slot="end"
      (click)="togglePassword()"
      *ngIf="!showPassword">
    </ion-icon>
    <ion-icon
      name="eye-off"
      slot="end"
      (click)="togglePassword()"
      *ngIf="showPassword">
    </ion-icon>
  </ion-item>

  <ion-button expand="full" (click)="login()">Login</ion-button>

  <!-- Tombol Forgot Password dan Register -->
  <div class="action-buttons">
    <ion-button fill="clear" (click)="goToForgotPassword()">Forgot Password?</ion-button>
    <ion-button fill="clear" (click)="goToRegister()">Register</ion-button>
  </div>
</ion-content>
